<div data-hook="admin_item_refund_form_fields">
  <% unless @item_refund.item_refund_units.empty? %>
    <h2>Selected items</h2>
    <%= render partial: 'form_item_refund_units',
               locals: { f: f,
                         checked: true,
                         item_refund_units: @item_refund.item_refund_units } %>
  <% end %>

  <% unless !@item_refund.editable? || @form_new_item_refund_units.empty? %>
    <h2>Available items</h2>
    <%= render partial: 'form_item_refund_units',
               locals: { f: f,
                         checked: false,
                         item_refund_units: @form_new_item_refund_units } %>
  <% end %>

  <% if !@item_refund.editable? %>
    <%= f.field_container :item_refund_total, class: ['form-group'] do %>
      <%= f.label :item_refund_total %>
      <p><%= @item_refund.display_calculated_item_total %></p>
    <% end %>

    <%= f.field_container :total_refund_amount_including_shipments, class: ['form-group'] do %>
      <%= f.label :total_refund_amount %><br>
      <%= @item_refund.display_total %>
    <% end %>
  <% end %>

  <% if @item_refund.editable? %>
    <%= f.field_container :refund_reason, class: ['form-group'] do %>
      <%= f.label :refund_reason, Spree.t(:refund_reason) %>
      <%= f.select :refund_reason_id,
                   @refund_reasons.collect{ |r| [r.name, r.id] },
                   { include_blank: true },
                   { class: 'select2', "data-placeholder" => Spree.t(:select_a_refund_reason) } %>
      <%= f.error_message_on :reason %>
    <% end %>
  <% else %>
    <%= f.field_container :refund_reason, class: ['form-group'] do %>
      <%= f.label :refund_reason %>
      <p><%= @item_refund.refund_reason.name %></p>
    <% end %>
  <% end %>

  <% if @item_refund.editable? %>
    <%= f.field_container :refund_type, class: ['form-group'] do %>
      <%= f.label :refund_type, Spree.t(:refund_type) %>
      <%= f.select :refund_type,
                   @refund_type_options,
                   { include_blank: true },
                   { class: 'select2', "data-placeholder" => Spree.t(:select_a_refund_type) } %>
      <%= f.error_message_on :refund_type %>
    <% end %>
  <% else %>
    <%= f.field_container :refund_type, class: ['form-group'] do %>
      <%= f.label :refund_type %>
      <p><%= @item_refund.refund_type.demodulize.titleize %></p>
    <% end %>
  <% end %>

  <%= f.field_container :description, class: ['form-group'] do %>
    <%= f.label :description, Spree.t(:description) %>
    <%= f.text_area :description, class: 'form-control' %>
    <%= f.error_message_on :description %>
  <% end %>
</div>
