<table class="table table-condensed table-bordered index return-items-table">
  <thead>
    <tr data-hook="item_refund_header">
      <% if @item_refund.editable? %>
        <th></th>
      <% end %>
      <th><%= Spree.t(:product) %></th>
      <th><%= Spree.t(:state) %></th>
      <% if @item_refund.editable? %>
        <th><%= Spree.t(:charged) %></th>
      <% end %>
      <th><%= Spree.t(:pre_tax_refund_amount) %></th>
      <% if !@item_refund.editable? %>
        <th><%= Spree.t(:tax_amount) %></th>
        <th><%= Spree.t(:total) %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= f.fields_for :item_refund_units, item_refund_units do |item_fields| %>
      <% unit = item_fields.object %>
      <% inventory_unit = unit.inventory_unit %>
      <% editable = @item_refund.editable? %>
      <tr>
        <% if editable %>
          <td class="inventory-unit-checkbox">
            <%= item_fields.hidden_field :inventory_unit_id %>
            <%= item_fields.check_box :_destroy, { checked: checked, class: 'add-item', "data-price" => unit.pre_tax_amount }, '0', '1' %>
          </td>
        <% end %>
        <td>
          <div class="variant-name"><%= inventory_unit.variant.name %></div>
          <div class="variant-options"><%= inventory_unit.variant.options_text %></div>
          <div class="variant-options"><%= inventory_unit.variant.sku %></div>
        </td>
        <td><%= inventory_unit.state.humanize %></td>
        <% if @item_refund.editable? %>
          <td>
            <%= unit.display_pre_tax_amount %>
          </td>
        <% end %>
        <td>
          <%= item_fields.text_field :pre_tax_amount,
                                     { class: 'refund-amount-input form-control' } %>
        </td>
        <% if !@item_refund.editable? %>
          <td><%= unit.display_tax %></td>
          <td><%= unit.display_total %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
